* {
  padding: 0;
  margin: 0;
  border: 0;
}

.App {
  text-align: center;
}

.game {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row-small-board, .row-square {
  clear: both;
  content: "";
  display: table;
}

.small-board {
  border: 2px solid black;
  margin: -2px -2px -2px -2px;
  float: left;
}

.square {
  background: white;
  border: 1px solid black;
  font-size: calc(20px + 4vmin);
  line-height: calc(30px + 4vmin);
  height: calc(30px + 4vmin);
  width: calc(30px + 4vmin);
  margin: -1px -1px -1px -1px;
  float: left;
}

.square:focus {
  outline: none;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.137s linear;
  }
}

.App-header {
  background-color: #30353f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fb6161;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
} */
